header 
{    
    background-image: url(https://www.seaciti.org/2021/wp-content/uploads/2020/03/covid_header-1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 300px;
    width: 100%;
    padding: 30px;
}
body
{
    background-color: rgba(150, 205, 236, 0.671);
}

header h1 
{
    color:antiquewhite;
    font-family: 'Zen Dots', cursive;
    font-size: xx-large;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    text-shadow: 6px 6px mediumblue;
    letter-spacing: 10px;
    
}

header h6 
{
    color:rgb(19, 63, 184);
    font-family: 'Zen Dots', cursive;
    font-size: medium;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    background-color: rgb(194, 183, 81);
    border-radius: 10px;
    width: 100%;

}

#cartTitle-container
{
    background: #343a40;
}

h2
{
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    background-color: #343a40;
    padding: 10px;
}

.cart-container
{
    float: left;
    margin-right: 60px;
    margin-left: 50px;
    margin-top: 25px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
    border: none;
}

#cart 
{
    padding: 15px;
}

#subQuant
{
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    color: rgb(255, 0, 0);
    background-color: #f0c0c0;
    border: hidden;
    border-radius: 5px;
    font-size: 1em;
}

#subQuant:hover
{
    transition: ease-in-out 0.25s;
    transform: scale(1.25);
    background-color: #f89090;
}

#addQuant
{
    margin-left: 10px;
    width: 30px;
    color: rgb(0, 4, 255);
    background-color: rgb(165, 167, 255);
    border: hidden;
    border-radius: 5px;
    font-size: 1em;
}

#addQuant:hover
{
    transition: ease-in-out 0.25s;
    transform: scale(1.25);
    background-color: rgb(121, 123, 255);
}

.quantTD
{
    justify-content: center;
    display: inline-flex;
}

tr 
{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}

#productName
{
    font-family: 'Bebas Neue', cursive;
    font-size: 0.85em;
}

tr #cart-row
{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

table td
{
    width: 150px;
    margin-top: 0.7em;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

#product
{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

#quantityInput
{
    width: 40px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(204, 203, 203, 0.733);
}

#remover
{
    height: 20px;
    padding: 4px;
    background-color: #f0c0c0;
    border-radius: 5px;
}

#remover:hover
{
    transition: ease-in-out 0.25s;
    transform: scale(1.25);
    background-color: #f35151;
}

td:last-child
{
    width: 55px;
    height: 35px;
}

.navItems 
{
    color:antiquewhite;
    text-align: center;
}

.navItems li 
{
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    display: inline-block;
    margin-left: 50px;
    justify-content: space-between;
    padding: 30px;
    transition: transform .2s;
}

li p{
    display: inline;
}

.navItems a{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color:antiquewhite;
}

.navItems a:hover{
    color:teal;
    background-color: transparent;
}

li:hover{
    color:teal;
    background-color: transparent;
    font-size: 200%;
    transform: scale(2.0);
}

.navItems button 
{
    border-radius: 20px;
    padding: 20px;
    display: flex;
    background-color: darkkhaki;
    
}

main 
{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

form
{
    margin-top: 25px;
    width: 500px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px 0px 15px 15px;
    text-align: justify;
    display: flex;
    align-items: flex-start;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
}

#submit-button 
{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    display: block;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 15px;
    float: right;
}

label
{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    line-height: 1;
    display: block;
    padding-top: 5px;
    padding-left:5px;
    margin-top: 10px;
}

#footer 
{
    display: flex;
    letter-spacing: 5px;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    border-style: inset;
    border-color: darkblue;
    background-color: rgb(49, 80, 173);
    background-size: cover;
    color: rgb(9, 17, 26);
}


.textbox
{
    width: 450px;
    height: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    line-height: 1;
    padding: 5px;
}

.reviewSection
{
    float: left;
    margin-right: 50px;
    margin-left: 60px;
    margin-top: 25px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
    width: 600px;
    border: none;

}

#reviewTitle
{
    background: #343a40
}

h3, h4
{
    font-size: 1.2em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    background-color: #343a40;
    padding: 10px;
}

#reviews
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 830px;
}

div#reviews div{
    height: 150px;
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

#reviewInput
{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#reviewws
{
    margin-right: 5px;
    margin-bottom: 5px;
    float: right;
}