body {
    background-color: aliceblue;
}

header {    
    background-image: url(https://www.seaciti.org/2021/wp-content/uploads/2020/03/covid_header-1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 300px;
    width: 100%;
    padding: 30px;
    
}

header h1 {
    color:antiquewhite;
    font-family: 'Zen Dots', cursive;
    font-size: xx-large;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    text-shadow: 6px 6px mediumblue;
    letter-spacing: 10px;
    
}


header h6 {
    color:rgb(19, 63, 184);
    font-family: 'Zen Dots', cursive;
    font-size: medium;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    background-color: rgb(194, 183, 81);
    border-radius: 10px;
    width: 100%;

}
.navItems {
    color:antiquewhite;
    text-align: center;
}

.navItems li {
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    display: inline-block;
    justify-content: space-between;
    padding: 30px;
    transition: transform .2s;
}

li p{
    display: inline;
}

.navItems a{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color:antiquewhite;
}

.navItems a:hover{
    color:teal;
    background-color: transparent;
}

.navItems li:hover{
    color:teal;
    background-color: transparent;
    font-size: 200%;
    transform: scale(2.0);
}

#merchantAccess {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    background-color: darkkhaki;
    color: black;
    box-shadow: 5px 5px mediumblue;

}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#feat {
    box-shadow: 20px 20px 10px 5px rgb(194, 183, 81);
    padding: 20px;
    border-radius: 40px;
}

.featured li {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    color: rgb(33, 33, 99);
    list-style: none;
    text-decoration: none;
}
  
section {
    background-color:aliceblue;
    font-family: 'Bebas Neue', cursive;
}
  
section.ct-u-paddingBoth80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
  
.ct-u-paddingTop20 {
    padding-top: 20px;
}
  
.ct-u-size40 {
    font-size: 40px;
}

.ct-section_header--type2 small {
    color: rgb(19, 63, 184);
    font-family: 'Lobster', cursive;
    font-size: 58px;
    line-height: .7;
    display: block;
    font-weight: 700;
    position: relative;
    padding-bottom: 7px;
}
  
.ct-section_header--type2 span {
    font-family: 'Bebas Neue';
    font-size: 115px;
    line-height: 0.8;
}
  
.tags {
    color: rgb(22, 8, 218);
    line-height: 0.8;
    margin: auto;
}
  
.imgContainer {
    background-size: 85%;
    border-radius: 50px;
    padding: 10px;
}
  
.btn.btn-red {
    color: #fff;
    background-color: rgb(194, 183, 81);;
    transition: transform 0.2s;
    position: relative;
    display: inline-block;
}

.btn-red:hover {
    background-color:rgb(19, 63, 184);
    transform: scale(2.2);
    color: gold;
}
  
.created-by {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    justify-content: center;}
  
.ct-u-marginTop60 {
    margin-top: 60px;

}
  

.imgContainer img {
    border: 14px solid #Fafafa;
    box-shadow: 10px 10px 10px 5px mediumblue;
    height: 500px;
    width: 500px;
    border-radius: 30px;
}

.text {
    max-width: 400px;
}

.prettyLine {
    border: 10px solid darkkhaki;
    border-radius: 5px;
}

#itemCard {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

#itemCard div {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#itemCard h3 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    font-weight: 500;
    background-color:rgb(33, 33, 99);
    color: rgb(209, 219, 245);
}

#itemCard p {
    width: 400px;
    height: auto;
    word-wrap:break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    font-weight: 500;
    color: rgb(6, 15, 56);
}

#itemCard h5 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    font-weight: 500;
    color: red;
    background-color: rgb(159, 182, 216);
    border-radius: 50px;
   
}

#itemCard img{
    width: 250px;
}

button:hover {
    color:rgb(72, 196, 23);
    background-color: transparent;
    transform: scale(1.2);
}

#itemCard button {
    font-family: 'Bebas Neue', cursive;
    font-size:medium;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 10%;
}

#itemCard input {
    font-family: 'Bebas Neue', cursive;
    font-size:medium;
    text-align: center;
    border-radius: 20px;
    border-style: groove;
    border-color: darkgreen;
    width: 30px;
    padding-left: 10px;
    margin: 20px;

}  

#footer {
    display: flex;
    letter-spacing: 5px;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    border-style: inset;
    border-color: darkblue;
    background-color: rgb(49, 80, 173);
    background-size: cover;
    color: rgb(9, 17, 26);
}
  
