body {
    background-color: aliceblue;
}

header {    
    background-image: url(https://www.seaciti.org/2021/wp-content/uploads/2020/03/covid_header-1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 300px;
    width: 100%;
    padding: 30px;
    
}

header h1 {
    color:antiquewhite;
    font-family: 'Zen Dots', cursive;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    letter-spacing: 10px;
    
}
.navItems {
    color:antiquewhite;
    text-align: center;
    position: relative;
}

.navItems li {
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    display: inline-block;
    justify-content: space-between;
    padding: 30px;
    transition: transform .2s;
}

li p{
    display: inline;
}

.navItems a{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color:antiquewhite;
}

.navItems a:hover{
    color:teal;
    background-color: transparent;
}

li:hover{
    color:teal;
    background-color: transparent;
    font-size: 200%;
    transform: scale(2.0);
}

#merchantAccess {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    background-color: darkkhaki;
    
}

#itemCard {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

#itemCard div {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#itemCard h3 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    font-weight: 500;
    background-color:rgb(33, 33, 99);
    color: rgb(209, 219, 245);
}

#itemCard h4 {
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    font-weight: 500;
    color: rgb(6, 15, 56);
}

#itemCard h5 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    font-weight: 500;
    color: red;
}

#itemCard img{
    width: 250px;
}

button:hover {
    color:teal;
    background-color: transparent;
    transform: scale(1.5);
}

#itemCard button {
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 10%;
}

#footer {
    display: flex;
    letter-spacing: 5px;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    border-style: inset;
    border-color: darkblue;
    background-color: rgb(49, 80, 173);
    color: rgb(9, 17, 26);
}